<div *ngIf="organisation">
  <h1>{{ organisation.orgName }}</h1>
  <fa name="star" [ngClass]="{'orange': organisation.avg_ratings > 0}"></fa>
  <fa name="star" [ngClass]="{'orange': organisation.avg_ratings > 1}"></fa>
  <fa name="star" [ngClass]="{'orange': organisation.avg_ratings > 2}"></fa>
  <fa name="star" [ngClass]="{'orange': organisation.avg_ratings > 3}"></fa>
  <fa name="star" [ngClass]="{'orange': organisation.avg_ratings > 4}"></fa>
  ({{ organisation.no_of_ratings }})
  <p>{{ organisation.orgDescription }}</p>

  <div id="rate-container">
    <h2>Rate it!!!</h2>
    <fa *ngFor="let rate of [1,2,3,4,5]" name="star" (mouseenter)="rateHover(rate)"></fa>
  </div>

</div>
